ninja
packaging
torch
torchaudio
hydra-core
omegaconf
datasets
miditok
pandas
transformers
titans-pytorch
accelerate
pytorch-lightning
flash-attn
git+https://github.com/jthickstun/anticipation.git
midiutil
miditoolkit
numpy