# configs/config.yaml

project_name: "midigen_v5.3_titan_remi"

paths:
  root: "${hydra:runtime.cwd}/result/${project_name}"
  data: "${paths.root}/data"
  processed_data: "${paths.data}/processed"
  checkpoints: "${paths.root}/checkpoints"
  logs: "${paths.root}/logs"
  outputs: "${paths.root}/outputs"
  vocab: "${paths.root}/vocab"

defaults:
  - _self_

hydra:
  run:
    dir: "result/${project_name}/runs/${now:%Y-%m-%d}_${now:%H-%M-%S}"

data:
  # 데이터 경로 (상대 경로 주의)
  raw_path: "${hydra:runtime.cwd}/data/raw/maestro-v3.0.0"
  csv_path: "${hydra:runtime.cwd}/data/raw/maestro-v3.0.0/maestro-v3.0.0.csv"
  processed_path: "${paths.processed_data}"
  # Data Augmentation: [0] means no augmentation. [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6] adds 12 transposed versions.
  augmentation_shifts: [0]

tokenizer:
  name: remi
  max_seq_len: 1024 
  remi:
    # 1. 박자 해상도: 가장 표준적인 설정 (복잡하면 학습 어려움)
    beat_res: "{(0, 4): 8, (4, 12): 4}"
    
    # 2. 벨로시티: 32단계가 표현력이 더 좋습니다.
    nb_velocities: 32 

    # 3. 중요 기능 설정
    use_chords: true        # 화성학을 배우도록 켬 (필수)
    use_tempos: true        # 템포 변화(Rubato)를 배우도록 켜는 것 추천!
    
    # 4. 불필요한 기능 끄기 (모델 뇌 용량 확보)
    use_rests: false        # REMI는 Position 이동으로 침묵 표현 가능 -> 끔
    use_programs: false     # 악기 변경(Program) -> 피아노 솔로면 끔
    use_program_changes: false
    use_time_signatures: false # 박자표 변화 -> 복잡하니 일단 끔

    # 5. 범위 설정 (기본값 유지)
    rest_range: "[2, 8]"
    tempo_range: "[50, 200]"

  anticipation:
    bar_token_id: 50 # Default bar token ID for anticipation tokenizer.

model:
  type: "titan"
  dim: 512
  depth: 8
  heads: 8

  # Mamba 전용 설정
  mamba:
    d_state: 64        # SSM 상태 크기 (보통 16 고정)
    d_conv: 4          # 로컬 컨볼루션 크기 (보통 4)
    expand: 2          # 내부 확장 비율 (보통 2)
    head_dim: 8       # 어텐션 헤드 차원

  titan:
    # 1. 공통 & Neural Memory 설정
    chunk_size: 128        # = segment_len (Local Attention 윈도우 크기)
    dim_head: 64           # 어텐션 헤드 차원
    activation: "silu"     # 활성화 함수
    momentum: true         # 메모리 업데이트 시 모멘텀 사용 여부
    
    # Neural Memory 내부 MLP 구조 (복잡도 조절)
    memory_depth: 2        # 메모리 네트워크의 깊이
    expansion_factor: 4.0  # 메모리 네트워크 확장 비율
    
    # 2. MAC (Memory As Context) 전용 설정
    # 영구 기억 (Persistent Memory): 프롬프트나 전역 정보를 저장하는 토큰 수
    num_persist_mem_tokens: 32
    
    # 장기 기억 (Long-term Memory): 과거 역사를 요약해서 가져올 토큰 수
    num_longterm_mem_tokens: 128

train:
  batch_size: 4
  accumulate_grad_batches: 4
  epochs: 100
  lr: 5e-4
  weight_decay: 0.1  # AdamW 기본값 (과적합 방지)
  gradient_clip_val: 1.0 # 폭발 방지
  force_preprocess: false # true to regenerate data with new seq_len
  resume_ckpt_path: "auto"  # "auto"면 최신 체크포인트, 비우면 처음부터

compile_model: true

target_composer: "Fr\u00e9d\u00e9ric Chopin"
target_length: 4096  # 생성할 최대 토큰 길이