# configs/config.yaml

project_name: "midigen_v2"

defaults:
  - _self_

hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}

data:
  # 데이터 경로 (상대 경로 주의)
  raw_path: "${hydra:runtime.cwd}/data/raw/maestro-v3.0.0" 
  csv_path: "${hydra:runtime.cwd}/data/raw/maestro-v3.0.0/maestro-v3.0.0.csv"
  processed_path: "${hydra:runtime.cwd}/data/processed/maestro_tokenized"
  
  # 토크나이저 설정
  max_seq_len: 1024
  vocab_size: 500
  num_velocities: 24
  use_chords: true

  # 박자 쪼개기 설정 (비트를 4개로만 쪼갬 -> 16분음표 단위)
  # 숫자가 작을수록 AI가 박자를 잡기 쉬워집니다.
  beat_res: "{(0, 4): 8, (4, 12): 4}"

model:
  type: "gpt2"  # "gpt2" 또는 "titan"
  dim: 512
  depth: 24
  heads: 8

train:
  batch_size: 16
  epochs: 50
  lr: 3e-4
  force_preprocess: false # true로 하면 캐시 삭제 후 다시 전처리
  resume_ckpt_path: "auto"  # "auto"면 최신 체크포인트, 비우면 처음부터

compile_model: true

target_length: 10240  # 생성할 최대 토큰 길이